/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  
  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#b516d1;
  --col-04:#dee41c;
  font-size: 16px;
 
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
}

nav {
  margin-top: 1rem;
}



nav li{
  font-size: 1rem;
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

/* Turned this Li into a hover which took me much longer than I'd care to admit, so that the interactabilty of these buttons were clear to the user.*/
li :hover{
  font-size: 1rem;
cursor: pointer;
color: var(--col-03);
}

li :active{
  color: var(--col-04);
}


dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

/*I tried to add the semicircle to the top of the screen but each attempt ended up covering the button, not sticking or just looking bad so I elected to get rid of it. */
#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
  cursor: pointer;
  margin: auto;
  border: #b516d1;
  background-color: red;
}
/* Red is an inherantly eye-catching colour so it works to draw their eyes to the option of a light or dark mode. */
#mode-button :active{
  background-color: #dee41c;
}

#mode-button :hover{
  background-color: greenyellow;
}




#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Just adding the cursor makes the most sense to me, I was going to add a hover colour, but thats usually added on click not hover */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#load-throbber{
  /* the box size has been adjusted to just smaller than the text, which I think is aesthetically pleasing, and the box has been given an animation cycle of the 3 main colours I like to use. */
  width: 400px;
  height: 30px;
  border: 15px black;
  background-color: var(--col-03);
  
  display: none;
  background-image: linear-gradient();
  animation: LoadingBar 10s
  
}

@keyframes LoadingBar {
   0% {
   background-color: #b516d1;
  }
  25% {
    background-color: #171219;
  }
  50% {
    background-color: #b516d1;
  }
  75% {
    background-color: #dee41c;
  }
  100% {
    background-color: #b516d1;
  }


}


/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}