/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#f152ff;
  --col-04:#ade325;
  --border: 1px solid var(--col-02);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-01);
  color: var(--col-02);
  padding: 3vw;
  font-family: sans-serif;
  font-size: medium;
}
/* I changed the font and size to something more accessible for most audiences. Also because I like sans-serif */

.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
}

.FilterSection{

}

.FilterBox{

}

/* The two colours for the button are the ones that are most commonly associated with hyperlinks and used hyperlinks so it just made sense to use them both here. */

.FilterButton{
color: #f152ff;
}

.SelectedFilter{
  color: blue;
}

.RecipeLink{

}

.RecipeName{

}

.Author{

}

.RecipeImageContainer{

}

.RecipeImg{

}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}

